// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
// SPDX-License-Identifier: LGPL-2.1-or-later

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature > div {
  padding: 20px;
}
.feature > div:first-child {
  flex-basis: 75%;
}

.feature > div:last-child {
  flex-basis: 25%;
}

.feature > div.party {
  flex-basis: 75%;
}

@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  .feature:nth-child(2n + 1) > div:first-child {
    order: 1;
  }
  .feature:nth-child(2n + 1) > div:last-child {
    order: 0;
  }
}

.jumbotron {
  background-size: cover;
  height: 700px;
  padding: 6em 10%;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  background-size: cover;
  overflow-x: hidden !important;
}

.jumbotron.feep {
  background-image: url('/images/thomas-kelley-xVptEZzgVfo-unsplash.webp');
  background-position: center;
}

.jumbotron.be4foss {
  background-image: url('/images/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp');
  background-position: center;
}

.jumbo-card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

.tags a {
  border: 1px solid #ddd;
  display: inline-block;
  color: black;
  font-size: small;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  margin: 0 3px 6px 0;
  padding: 5px 10px;
}

.tags a:hover {
  border-color: #08c;
}

html {
  overflow-x: hidden !important;
}

.app-logo  {
  background: transparent !important;
}

.home-icon{
  font-size: 300%;
  color: black;
}

.feep-image-mobile{
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  .jumbo-card>h2, .jumbo-card>p {
    color: black !important;
  }

  .icon{
    color: white;
  }

  .matrix{
    filter: invert(1);
  }
}
